<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <img class="align-bottom book" src="{{ '/assets/images/books/french_revolution.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/desert_solitaire.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/all_the_pretty_horses.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/french_revolution.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/desert_solitaire.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/all_the_pretty_horses.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/french_revolution.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/desert_solitaire.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/all_the_pretty_horses.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/french_revolution.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/desert_solitaire.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/all_the_pretty_horses.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/french_revolution.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/desert_solitaire.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/all_the_pretty_horses.png' | relative_url }}" />
      <img class="align-bottom book" src="{{ '/assets/images/books/french_revolution.png' | relative_url }}" />
    </div>
  </div>
</div>