<script>
  setTimeout(() => {
    document.getElementById("hider").style.display = "inherit";
  }, 500)
</script>

<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="2020-tab" data-toggle="tab" href="#b2020" role="tab" aria-controls="2020"
      aria-selected="true">2020</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="2019-tab" data-toggle="tab" href="#b2019" role="tab" aria-controls="2019"
      aria-selected="false">2019</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="2018-tab" data-toggle="tab" href="#b2018" role="tab" aria-controls="2018"
      aria-selected="false">2018</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="2017-tab" data-toggle="tab" href="#b2017" role="tab" aria-controls="2017"
      aria-selected="false">2017</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="2016-tab" data-toggle="tab" href="#b2016" role="tab" aria-controls="2016"
      aria-selected="false">2016</a>
  </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
  <div class="tab-pane fade show active" id="b2020" role="tabpanel" aria-labelledby="tab-2020">
    <div class="col-sm pt-5 d-flex align-items-end" id="hider" style="display: none; overflow-x: scroll;">
      {% for book in site.books %}

        {%- assign book_id = book.title | slugify -%}
        {%- assign book_title = book.book_title -%}
        {%- assign book_description = book.book_description -%}
        {%- assign book_pages = book.book_pages -%}
        {%- assign book_author = book.book_author -%}
        {%- assign book_img = "/assets/images/books/" | append: book.image_file | relative_url -%}
        {%- assign content = book.content -%}
        {%- assign isbn = book.isbn -%}
        {% capture script_src %}
          https://www.googleapis.com/books/v1/volumes?q=isbn:{{ isbn }}&callback=handleResponse
        {% endcapture %}
        {%- assign book_index  = forloop.index -%}
        {%- assign finished_on  = book.finished_on | "%b %d, %Y" -%}
        {%- assign height_pixels  = book.height_pixels -%}

        {%- if book.external_url -%}
          {%- assign book_url = book.external_url -%}
        {%- else -%}
          {%- assign book_url = book.url | relative_url -%}
        {%- endif -%}

        {%- if book.draft != true -%}
          {% include books/book.html %}
        {%- endif -%}

      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="b2019" role="tabpanel" aria-labelledby="tab-2019">
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <iframe style="width: 100%; height: 450px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTyn_Iweo1LRsXYhU2xhMhBmXewNwhZ3yN3SfIkxsdObgbhj97R1ImxLZUrfM5D4mKG02vZJ8OaJsdG/pubhtml?gid=511678995&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="b2018" role="tabpanel" aria-labelledby="tab-2018">
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <iframe style="width: 100%; height: 450px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTyn_Iweo1LRsXYhU2xhMhBmXewNwhZ3yN3SfIkxsdObgbhj97R1ImxLZUrfM5D4mKG02vZJ8OaJsdG/pubhtml?gid=657766902&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="b2017" role="tabpanel" aria-labelledby="tab-2017">
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <iframe style="width: 100%; height: 450px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTyn_Iweo1LRsXYhU2xhMhBmXewNwhZ3yN3SfIkxsdObgbhj97R1ImxLZUrfM5D4mKG02vZJ8OaJsdG/pubhtml?gid=1538930493&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="b2016" role="tabpanel" aria-labelledby="tab-2016">
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <iframe style="width: 100%; height: 450px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTyn_Iweo1LRsXYhU2xhMhBmXewNwhZ3yN3SfIkxsdObgbhj97R1ImxLZUrfM5D4mKG02vZJ8OaJsdG/pubhtml?gid=1601299933&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>