<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      {% for book in site.books %}

        {%- assign book_id    = book.name | slugify -%}
        {%- assign book_img   = "/assets/images/books/" | append: book.image_file | relative_url -%}
        {%- assign book_name  = book.name -%}
        {%- assign book_desc  = book.description -%}
        {%- assign content  = book.content -%}

        {%- if book.external_url -%}
          {%- assign book_url = book.external_url -%}
        {%- else -%}
          {%- assign book_url = book.url | relative_url -%}
        {%- endif -%}

        {%- if book.draft != true -%}
          {% include books/book.html %}
        {%- endif -%}

      {% endfor %}
    </div>
  </div>
</div>