<div class="row justify-content-start align-items-center p-4">
  <div class="col-lg-10 col-md-6 text-left mt-4" style="padding-left: 0px !important;">

    <p class="mt-4">
      Full-Stack Web Developer and Technical Team Lead at <a class="underlined-title-external" href="https://simplenexus.com" target="_blank">SimpleNexus</a>.
      <!-- Full-Stack Web Developer and Technical Team Lead at SimpleNexus. -->
    </p>
    <p class="mt-4">
      Co-Founder & CTO at <a class="underlined-title-external" href="https://www.gostreetswap.com" target="_blank">StreetSwap</a>.
      <!-- Co-Founder & CTO at StreetSwap. -->
    </p>
    <p class="mt-4">
      Novice <a class="underlined-title" href="/open_source">open source</a> enthusiast.
    </p>
    <p class="mt-4">
      Humanities graduate and <a class="underlined-title" href="/books">bibliophile</a>.
    </p>
    <p class="mt-4">
      Check out my <a class="underlined-title" href="{{ '/assets/pdfs/Josh_Menden5.pdf' | relative_url }}" target="_blank">resume</a>, or shoot me an <a class="underlined-title" href="mailto:josh.menden@gmail.com" target="_blank">email</a>.
    </p>
  </div>
</div>