<div class="row justify-content-start align-items-center p-4">
  <div class="col-lg-10 col-md-6 text-left mt-4" style="padding-left: 0px !important;">

    <!-- Fine Circle Responsive Image -->
    <!-- <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image">
      </div>
    </div> -->

    <p class="text-muted" style="margin-top: 24px;">
      Full-Stack Web Developer and Team Lead at <a class="underlined-title" href="https://simplenexus.com" target="_blank" style="font-size: 18px;">SimpleNexus</a>.
    </p>
    <p class="text-muted" style="margin-top: 24px;">
      Co-Founder & CTO at <a class="underlined-title" href="https://www.gostreetswap.com" target="_blank" style="font-size: 18px;">StreetSwap</a>.
    </p>
    <p class="text-muted" style="margin-top: 24px;">
      Professional Tinkerer.
    </p>

    <p class="text-muted" style="margin-top: 24px;">
      Bibliophile.
    </p>

  </div>
</div>