<div class="row justify-content-start align-items-center p-4">
  <div class="col-lg-10 col-md-6 text-left mt-4" style="padding-left: 0px !important;">

    <p class="text-muted" style="margin-top: 24px;">
      Full-Stack Web Developer and Team Lead at <a class="underlined-title" href="https://simplenexus.com" target="_blank">SimpleNexus</a>.
    </p>
    <p class="text-muted" style="margin-top: 24px;">
      Co-Founder & CTO at <a class="underlined-title" href="https://www.gostreetswap.com" target="_blank">StreetSwap</a>.
    </p>
    <p class="text-muted" style="margin-top: 24px;">
      Novice <a class="underlined-title" href="/open_source">open source</a> enthusiast.
    </p>
    <p class="text-muted" style="margin-top: 24px;">
      Humanities graduate and <a class="underlined-title" href="/books">bibliophile</a>.
    </p>

  </div>
</div>