<!-- Remote Projects JS -->
<script src="{{ '/assets/js/remote-projects.js' | relative_url }}"></script>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <h3 class="underlined-title noselect wow animated fadeIn" data-wow-delay=".10s">creations</h3>
    </div>
  </div>
</div>

<div class="card-columns m-3 mt-3">

  <!-- Remote Projects -->
  {% for project in site.creations %}

    {%- assign project_type  = project.project_type -%}
    {%- assign project_id    = project.name | slugify -%}
    {%- assign project_img   = project.image -%}
    {%- assign project_name  = project.name -%}
    {%- assign project_desc  = project.description -%}
    {%- assign project_tools = project.tools -%}

    {%- if project.external_url -%}
      {%- assign project_url = project.external_url -%}
    {%- else -%}
      {%- assign project_url = project.url | relative_url -%}
    {%- endif -%}

    {%- if project.draft != true -%}
      {% include open_source/project-card.html %}
    {%- endif -%}

  {% endfor %}

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <h3 class="underlined-title noselect wow animated fadeIn" data-wow-delay=".10s">contributions</h3>
    </div>
  </div>
</div>

<div class="card-columns m-3 mt-3">

  <!-- Local Projects -->
  {% for project in site.contributions %}

    {%- assign project_type  = project.project_type -%}
    {%- assign project_id    = project.name | slugify -%}
    {%- assign project_img   = project.image -%}
    {%- assign project_name  = project.name -%}
    {%- assign project_desc  = project.description -%}
    {%- assign project_tools = project.tools -%}

    {%- if project.external_url -%}
      {%- assign project_url = project.external_url -%}
    {%- else -%}
      {%- assign project_url = project.url | relative_url -%}
    {%- endif -%}

    {%- if project.draft != true -%}
      {% include open_source/project-card.html %}
    {%- endif -%}

  {% endfor %}

</div>